<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <%= current_user.username %>
      <!-- <%= button_to 'Sign Out', session_url, method: :delete %> -->
      <form class="" action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <!--  if you want to pass up a hidden id-->
        <!-- <input type="hidden" name="post[user_id]" value="<%#= @post.user_id %>"> -->
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" name="" value="Sign Out">
      </form>
    <% else %>
      <!-- <%#= link_to 'Sign In', new_session_url %> -->
      <a href="<%= new_session_url %>">Sign In</a>
      <%= link_to 'Sign Up', new_user_url %>
    <% end %>

    <br>

    <%= render 'layouts/errors' %>

    <%= yield %>
  </body>
</html>
