<ul>
  <li>Username: <%= user.username %></li>
  <li>Email: <%= user.email %></li>

  <% if action == :show %>
    <li><%= link_to "User Index", users_url %></li>
  <% else %>
    <li><%= link_to "User's Show Page", user_url(user) %></li>
  <% end %>
  <li><%= link_to "Edit User", edit_user_url(user) %></li>
  <li><%= button_to "Delete User", user_url(user), method: :delete %></li>
</ul>
