<div class='tweet'>
  <h3 class='tweeter'>
    <a href='<%= user_url(tweet.user) %>'>
      @<%= tweet.user.username %>
    </a>
  </h3>

  <p><%= tweet.content %></p>

  <ul>Mentions
    <% tweet.mentioned_users.each do |mention| %>
      <li class='tweetee'>
        <a href='<%= user_url(mention) %>'>@<%= mention.username %></a>
      </li>
    <% end %>
  </ul>
</div>
