<!DOCTYPE html>
<html>
  <head>
    <title>RandomThoughts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      Welcome, <%= current_user.username %>!
      <br/>
      <%= button_to "Logout", session_url, method: :delete %>
    <% else %>
      <%= link_to "Login", new_session_url %>
      <%= link_to "Signup", new_user_url %>
    <% end %>

    <%= yield %>
  </body>
</html>
