<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
</head>
<body>
<%= "This will show up on every page" %>


<% if logged_in? %>
  WELCOME, <%= current_user.name %>
  <form class="" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">

    <input type="submit" name="" value="LOG OUT">
  </form>
<% end %>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
