<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      <% if logged_in? %>
        window.currentUser =
        <%= render('/api/users/user.json.jbuilder', user: current_user).html_safe %>
      <% end %>
      window.logoUrl = "<%= image_url('logo.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
